@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0, 0%, 93%);
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  color: hsl(60, 10%, 19%);
}

main {
  width: 90%;
  margin: 0 auto;
}

.calculator {
  border: 2px solid #333;
  max-width: 375px;
  margin: 100px auto;
  padding: 1.25em;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 90%);
}

.calculator > * {
  border-radius: 1rem;
}

#display {
  border: 2px solid #333;
  margin: 0 auto;
  height: 125px;
  background-color: #fff;
  text-align: end;
  padding: 0 1em;
}

.top-display {
  height: 40%;
  display: flex;
  align-items: end;
  justify-content: flex-end;
  font-size: 1.75rem;
}

.bot-display {
  height: 60%;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow-x: clip;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem 0.75rem;
  margin: 1.5em auto 0;
}

.buttons > button {
  border: none;
  width: 100%;
  height: 65px;
  border-radius: 0.75rem;
  background-color: hsl(30, 25%, 89%);
  color: hsl(60, 10%, 19%);
  border: 2px solid #333;
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
}

#reset {
  grid-column: 1 / span 2;
  background-color: hsl(185, 42%, 37%);
  color: #fff;
}

#equal {
  grid-column: 3 / span 2;
  background-color: hsl(25, 98%, 40%);
  color: #fff;
}

#del {
  background-color: hsl(185, 42%, 37%);
  color: #fff;
}

@media screen and (max-width: 480px) {
  .top-display {
    font-size: 1.5rem;
  }

  .bot-display {
    height: 60%;
    font-size: 2.5rem;
  }
}
